@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


body{
    background-image: url(../img/salmonx.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(177, 212, 198);
}

table{
    border: solid 4px rgb(41, 7, 231) ;
    background-color: rgb(30, 198, 210);
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 15%;

}


td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 2px rgb(216, 93, 22) ;
    background-color: rgb(219, 150, 210);
    padding: 3px;
    border-radius: 11px;

    
}

#divTable{


    margin-top: -16%;
    text-align: center;
  
}

    


#a1 {


    background-color: hotpink;
    border-radius: 26%;
    margin-left: 41%;
    margin-top: 21%;
    padding: 4%;
    
}

#a2 {

    background-color: rgb(243, 7, 7);
    border-radius: 15%;
    padding: 5px;

}

a{
    text-decoration: none;
    color: bisque
}

#tZAIN{
    color: red;
    font-family: 'Raleway', sans-serif;
}

#Zhours{

    color: rgb(41, 7, 231);
}

.chef1{
position: absolute;
    top: -24.5%;
    left: 28.5%;
    margin-top: 9.2%;
    padding: 2%;
    z-index: -3;
}

footer{

    background-color: bisque;
    margin-top: 9.2%;
    padding: 2%;

}

/* #board{
    position: absolute;
    top: 43.2%;
    width: 178px;
} */
#afont{
    font-size: 50px;
}

.contact{
    text-align: center;
}

.salamon{
    position: absolute;
    top: 61%;
    left: 43%;
    width: 14%;
}